body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.top-div {
  height: 500px;
  margin: 55px;
}
nav {
  height: 55px;
  background-image: linear-gradient(tomato, lightsalmon);
  overflow: hidden;
}
ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}

li {
  list-style: none;
}
li a {
  padding: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

nav li:hover {
  background-color: rgb(253, 81, 51);
  border-radius: 5px;
}

.half-width {
  width: 40%;
  margin: 3%;
  padding: 1%;
  float: left;
}
.half-width img {
  width: 100%;
}

section {
  height: 600px;
}

h1 {
  font-size: 50px;
}

.tomato-highlight {
  color: tomato;
}

.link-button {
  background-image: linear-gradient(tomato, rgb(251, 141, 121));
  padding: 10px 40px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

h2 {
  text-align: center;
  font-size: 35px;
}

.about-div {
  height: 500px;
  margin: 55px;
}

.project-box img {
  width: 100%;
}

.three-box {
  display: flex;
  justify-content: space-evenly;
}

.project-box {
  width: 22%;
  margin-top: 40px;
  padding: 2%;
  box-shadow: 5px 5px 20px gray;
  border-radius: 20px;
}

.four-box {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
}
.blog-box {
  width: 18%;
  height: 40%;
  padding: 2%;
  box-shadow: 5px 5px 25px gray;
  border-radius: 10px;
  background-color: white;
}

.blog-box img {
  width: 100%;
}

.read-more {
  margin-left: 40px;
  text-decoration: none;
}

.blog-bg-color {
  background-color: azure;
}

.work-banner {
  background-image: url(image/banner.png);
  background-repeat: no-repeat;
  width: 50%;
  height: 167px;
  background-size: 100%;
  margin: 100px 0 100px 350px;
}

.work-inquiry h3 {
  font-size: 30px;
  color: white;
  margin: 60px 50px;
  float: left;
}
.chat-button {
  margin: 70px 50px;
  float: right;
}

.contact-area {
  text-align: center;
}

.footer-area img {
  width: 2%;
  padding: 8px;
}

.icon-area {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  border: 2px solid black;
  padding: 0 50px;
  text-align: center;
}
th {
  border: 2px solid black;
}

.education {
  text-align: center;
}

.education-area {
  height: 400px;
}

.form-msg {
  width: 400px;
  height: 175px;
  padding: 50px;
  box-shadow: 5px 5px 20px lightgrey;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.form-msg textarea {
  margin-top: 20px;
}
