body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  float: right;
  margin-right: 80px;
  list-style: none;
  margin-top: -50px;
}
li {
  float: left;
  padding: 20px;
}
ul li a {
  text-decoration: none;
  color: black;
}

.top-div {
  height: 500px;
  margin: 55px;
}

.half-width {
  width: 40%;
  margin: 3%;
  padding: 1%;
  float: left;
}
.half-width img {
  width: 100%;
}

section {
  height: 600px;
}

h1 {
  font-size: 50px;
}

.tomato-highlight {
  color: tomato;
}

.link-button {
  background-image: linear-gradient(tomato, rgb(251, 141, 121));
  padding: 10px 40px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

h2 {
  text-align: center;
  font-size: 35px;
}

.about-div {
  height: 500px;
  margin: 55px;
}

.project-box img {
  width: 100%;
}

.three-box {
  height: 450px;
  margin: 50px 100px;
}

.project-box {
  width: 25%;
  margin: 2%;
  padding: 2%;
  box-shadow: 5px 5px 20px gray;
  border-radius: 20px;
  float: left;
}

.four-box {
  height: 380px;
  margin: 50px 100px;
}
.blog-box {
  width: 18%;
  height: 75%;
  margin: 1%;
  padding: 2%;
  box-shadow: 2px 2px 15px gray;
  float: left;
  border-radius: 10px;
}

.blog-box img {
  width: 100%;
}

.read-more {
  margin: 110px;
  text-decoration: none;
}

.blog-bg-color {
  background-color: azure;
}

.work-banner {
  background-image: url(image/banner.png);
  background-repeat: no-repeat;
  width: 50%;
  height: 167px;
  background-size: 100%;
  margin: 100px 0 100px 350px;
}

.work-inquiry h3 {
  font-size: 30px;
  color: white;
  margin: 60px 50px;
  float: left;
}
.chat-button {
  margin: 70px 50px;
  float: right;
}

h4 {
  text-align: center;
}

.footer-area img {
  width: 2%;
  padding: 8px;
}

.icon-area {
  text-align: center;
}
